[submodule "pcb/seismometer/digikey-kicad-library"]
	path = pcb/seismometer/digikey-kicad-library
	url = https://github.com/Digi-Key/digikey-kicad-library
[submodule "pcb/seismometer/KiCad-RP-Pico"]
	path = pcb/seismometer/KiCad-RP-Pico
	url = https://github.com/ncarandini/KiCad-RP-Pico
[submodule "data_collector/lib/no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = data_collector/lib/no-OS-FatFS-SD-SPI-RPi-Pico
	url = https://github.com/carlk3/no-OS-FatFS-SD-SPI-RPi-Pico.git
