[submodule "pcb/seismometer/digikey-kicad-library"]
	path = pcb/seismometer/digikey-kicad-library
	url = https://github.com/Digi-Key/digikey-kicad-library
[submodule "pcb/seismometer/KiCad-RP-Pico"]
	path = pcb/seismometer/KiCad-RP-Pico
	url = https://github.com/ncarandini/KiCad-RP-Pico
